.contact-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.contact-us-form-container button {
  width: 100%;
  background-color: #0f5132 !important;
}
.contact-us-info-container {
  margin-left: 0 !important;
}
.contact-us-info-container h2 {
  margin-top: 0 !important;
}
.contact-us-info a {
  text-decoration: underline;
  font-size: 1rem;
  text-transform: capitalize;
}
.contact-us-socials-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.our-staff-container {
  background-color: #fff;
  height: 90vh;
}
.our-staff-container-overlay {
  position: absolute;
  background-color: #0f5132;
  height: 50%;
  width: 85%;
  left: 7.5%;
  z-indez: 0;
}
.our-staff-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-staff-members-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.our-staff-member-container img {
  width: 60%;
  border-radius: 100%;
}

@media screen and (max-width: 680px) {
  .contact-us-container {
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: -4rem;
  }
  .our-staff-members-container {
    width: 85%;
  }
  .our-staff-member-container img {
    width: 70%;
  }
}
