.shop-ul {
  display: flex;
  width: 85vw;
}
.shop-li {
  padding: 1rem;
}
.tabs-links:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width 0.7s ease, background-color 0.7s ease;
}
.tabs-links:hover:after {
  width: 100%;
  background: black;
}
.straight-hair {
  margin: 0 6.1rem !important;
}
@media screen and (max-width: 680px) {
  .shop-ul {
    margin-left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .straight-hair {
    margin: 0 5.1rem !important;
  }
}
