nav {
  padding: 0 7rem;
}
.active {
  background-color: #424242;
}
.navbar-links:hover {
  background-color: #616161;
}
.mobile-dem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.mobile-dem i {
  padding: 1rem;
}

@media screen and (max-width: 680px) {
  nav {
    padding: 0 1rem;
  }
}
